{% extends 'base.html' %} 

{% block head %}
<title>TO-DO</title>
{% endblock %} 

{% block body %}
<div class="table">
  <h1>To-Do List App</h1>
  <table>
    <tr>
      <th>Task</th>
      <th>Created On</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    <tr>
      {% for task in todos %}
      <td>{{ task[1] }}</td>
      <td>{{ task[2] }}</td>
      <td>{{ task[3] }}</td>
      <td>
        <a href="">Delete</a>
        <br />
        <a href="">Update</a>
      </td>
    </tr>
    {% endfor %}
  </table>

  <form action="/" method="POST">
    <input type="text" name="content" id="content" />
    <input type="checkbox" name="status" id="status" />
    <input type="submit" value="Add task" />
  </form>
</div>
{% endblock %}
