{% extends 'base.html' %}

{% block head %}
<title>TO-DO</title>
{% endblock %}

{% block body %}
<div>
  <h1 class="header">To-Do List App</h1>
</div>
<div class="table">
  <table>
    <tr>
      <th>Task</th>
      <th>Created On</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    {% for task in todos %}
    <tr>
      <td>{{ task[1] }}</td>
      <td>{{ task[2] }}</td>
      <td>
        {% if task[3] == 1 %}
        Done
        {% else %}
        Not Done
        {% endif %}
      </td>
      <td>
        <a href="/delete/{{ task[0] }}" onclick="return confirm('Are you sure you want to delete?')" class="delete-icon" title="Delete Task">
          <i class="material-icons">delete_forever</i>
      </a>
        {% if task[3] == 0 %}
        <a href="/mark_as_done/{{ task[0] }}" class="done-icon" title="Mark as Done"><i class="material-icons">check</i></a>
      </td>
     
        {% endif %}
      
    </tr>
    {% endfor %}
  </table>

  <form action="/" method="POST">
    <input type="text" name="content" id="content" required>
    <input class="submit-button" type="submit" value="Add task">
  </form>
</div>
{% endblock %}
