{% extends 'base.html' %}

{% block head %}
<title>TO-DO</title>
{% endblock %}

{% block body %}
<div class="table">
  <h1>To-Do List App</h1>
  <table>
    <tr>
      <th>Task</th>
      <th>Created On</th>
      <th>Status</th>
      <th colspan="2">Actions</th>
    </tr>
    {% for task in todos %}
    <tr>
      <td>{{ task[1] }}</td>
      <td>{{ task[2] }}</td>
      <td>
        {% if task[3] == 1 %}
        Done
        {% else %}
        Not Done
        {% endif %}
      </td>
      <td>
        <button onclick="window.location.href='/delete/{{ task[0] }}'">Delete</button>
        {% if task[3] == 0 %}
      </td>
      <td>
        <button onclick="window.location.href='/mark_as_done/{{ task[0] }}'">Mark as Done</button>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>

  <form action="/" method="POST">
    <input type="text" name="content" id="content" required>
    <input type="submit" value="Add task">
  </form>
</div>
{% endblock %}
